
.month-caption-row{
    cursor: pointer;
}

.today {
    font-weight: bold;
}


.note-wrapper: {
	margin-top: 5px;	
}

textarea.note {
  width: 80px; 
  min-width:80px; 
  max-width:80px; 
  height:80px; 
  min-height:80px;  
  max-height:80px;
  resize:none; 
  margin:0;
  padding:0;
  color: #000;
  background: #999;
}

.today {
	background-color: #444;
}

.modal {
	color: #000;
	text-shadow: none;
	
}
