
.month-caption-row{
    cursor: pointer;
}

.note-wrapper: {
	margin-top: 5px;	
}

textarea.note {
  width: 50px; 
  min-width:50px; 
  max-width:50px; 
  height:50px; 
  min-height:50px;  
  max-height:50px;
  margin:0;
  padding:0;
  color: #000;
  background: #999;
  display: inline-block;
}

.day {
	cursor: pointer;
}

.today {
	background-color: #444;
}

.modal {
	color: #000;
	text-shadow: none;
	
}
